[submodule "backend/refactoring"]
	path = backend/refactoring
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-refactoring.git
[submodule "backend/currency"]
	path = backend/currency
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-currency.git
[submodule "backend/freight"]
	path = backend/freight
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-freight.git
[submodule "backend/checkout"]
	path = backend/checkout
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-checkout.git
