[submodule "backend/refactoring"]
	path = backend/refactoring
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-refactoring.git
[submodule "backend/currency"]
	path = backend/currency
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-currency.git
[submodule "backend/freight"]
	path = backend/freight
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-freight.git
[submodule "backend/checkout"]
	path = backend/checkout
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-checkout.git
[submodule "backend/catalog"]
	path = backend/catalog
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-catalog.git
[submodule "frontend/vue"]
	path = frontend/vue
	url = git@github.com:alcir-junior-caju/study-ts-vue-branas-clean-code-and-clean-architecture.git
[submodule "backend/stock"]
	path = backend/stock
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-stock.git
[submodule "backend/auth"]
	path = backend/auth
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-auth.git
[submodule "queue"]
	path = queue
	url = git@github.com:alcir-junior-caju/study-ts-node-branas-clean-code-and-clean-architecture-queue.git
